/*	GENERAL	*/	
body {background-color:#ffd2f1; font-family:ubuntu, Verdana, Arial, Helvetica, sans-serif; margin:0; color:#000;}
h3 {	margin : 0px;}
input, textarea, select {border:1px solid #6E6F6A;}
input:hover {background-color:#C42364;color:white;cursor:pointer;}
a { text-decoration:none; color:#5F1499;}
table {border:0; padding:4px; text-align:center; font-size:small; border-collapse:collapse;}
th {background-color:#A95EDB; font-size:10px; padding:5px 0px; color:#000;}
img {border:0px; vertical-align:middle;}

/*	Pour mettre un fond d'écran	*/
#back {width:100%; height:100%; position:fixed; top:0; left:0px; background-color:#ffd2f1; opacity:1; z-index:-2; text-align:center; background-image:url('fond.jpg');background-position:right top;background-repeat:no-repeat;}

/*	On execute tous les post dans ce div	*/
#target {width:100%; position:fixed;	top:50%; left:0px; background-color:red; color:white; padding:5px; display:none; z-index:13; text-align:center;}
#targetback {width:100%; height:100%; position:fixed; top:0; left:0px; background-color:black; opacity:.75; color:white; padding:5px; display:none; z-index:13; text-align:center;}

/*	Le conteneur principal où on dessine le contenu et les menus	*/
#page {background-color:#ffd2f1;}

/*	Conteneur où on dessine les matériels, salles, ...	*/
#contenu {float:left; width:auto; overflow:auto; margin-left:230px;}

/*	menu de gauche	*/
#menu { background-color:#ffd2f1;}
.menu-item {padding:2px 10px;font-size:11px; }
.menu-item:hover {background-color:#FF61A0;}
.menu-current{font-size:14px; background-color:#FFF;}


/*	Entetes des pages (avec les options dedans)	*/
#entete-materiels, #entete-salles, #entete-marques {background-color:#DB5ECF;}
#entete-dossiers {background-color:#DB5ECF;}
#entete-prets {background-color:#DB5ECF;}
#entete-utilisateurs, #entete-grades, #entete-importusers, #entete-moncompte {background-color:#DB5ECF;}
#entete-college, #entete-statbat, #entete-infoserveur, #entete-statparc {background-color:#DB5ECF;}
#entete-aic, #entete-recapfog, #entete-modportail, #entete-geninventaire, #entete-gestfichiers, #entete-migdossiers, #entete-migfog, #entete-migusers, #entete-wol, #entete-exportperso, #entete-taginventaire {background-color:#DB5ECF;}
#entete-importcsv, #entete-logs, #entete-dumpocs, #entete-dumpgespac, #entete-exports, #entete-importocs {background-color:#DB5ECF;}

/*	bandeau pour la partie login, grade et déconnexion	*/
#bandeau		{font-size:12px; color:black;}
#bandeau a		{font-size:12px; color:grey;}
#bandeau a:hover	{text-decoration:underline;}

/*	La boite de case à cocher pour les colonnes dans matériels	*/
#options_colonnes {border:1px grey solid; background-color:#E6E6E6;}

/*	La boite pour l'affectation directe d'un matériel	*/
#affect_box {border:1px grey solid; background-color:#E6E6E6;}

/* la boite d'aide */
.helpbox {font-size:11px; border:1px grey solid; background-color:#E6E6E6;}

/*	Le nombre de lignes selectionnées	*/
#nb_selectionnes {display:none; font-size:10px; margin-left:10px;}


/*	Le nombre de lignes filtrées	*/
#filtercount, #marquescount {font-size:9px;}

/*	champ invalide dans un formulaire */
.validInfo {font-size:9px; color:#BE008B;}

/*	Les grandes tables, comme les salles, marques ...	*/
.bigtable {min-width:950px; opacity:0.9;}
.bigtable td{padding:2px 4px; font-size:11px;border-bottom:1px solid #DCDCDB;}
.bigtable th{font-size:12px ;}

/*	Les tables comme les membres des salles ...	*/
.smalltable {min-width:400px; border:1px solid grey;}
.smalltable td{padding:2px 4px; font-size:11px; border-bottom:1px solid grey;}
.smalltable th{font-size:11px ;}

/*	Les tables des formulaires de création, modif ...	*/
.formtable {text-align:left;}
.formtable td{padding:2px 20px; font-size:11px;}

/*	couleur d'une ligne selectionnée	*/
.selected {	background-color : #7EEF9F !important;}

/*	Pour la couleur des dossiers	*/
.td_ouverture {background-color:#5AC8FF;}
.td_clos {background-color:#46FF80;}
.td_intervention {background-color:#FF464A;}
.td_precision {background-color:#FF9B46;}


/*	Pour les lignes sans rollover avec un ssn en doublon dans la base OCS / gespac	*/
.tr_doublon {	background-color : #29C920;}
/*	Pour les lignes sans rollover avec un ssn en doublon dans la base OCS / gespac	*/
.tr_doublon_ocs {	background-color : yellow;}

/*	Style des tooltips	*/
.ui-tooltip {font-size:12px; padding:5px 10px; color:white; border-radius:5px; border:1px solid white; background:#BE008B; box-shadow:1px 1px 5px #888;}


	
/******************************************* 	RSS / ATOM  *******************************************/
.rss_content {font-size:13px; padding-bottom:5px;}
.rss_date {font-size:10px;}
.rss_title {font-size:16px; padding-bottom:5px;}
.rss_title a{font-size:16px;}
.rss_news {border:1px solid black; padding:5px 10px; margin:10px; background-color:#EDEDED; white-space:pre-wrap;}

/******************************************* 	SCROLLBAR pour WEBKIT uniquement  *******************************************/
::-webkit-scrollbar {width:10px; height:10px;}
::-webkit-scrollbar-track { border:0;}
::-webkit-scrollbar-track:hover { border:1px solid grey;}
::-webkit-scrollbar-thumb { background-color:#E6E6E6; border:1px solid grey;}
::-webkit-scrollbar-thumb:hover { background-color:#B0B0B0; border:1px solid grey;}
