/*	GENERAL	*/	
body {background-color:#fff; font-family:ubuntu, Verdana, Arial, Helvetica, sans-serif; margin:0; color:#000;}
h3 {	margin : 0px;}
input, textarea, select {border:1px solid #6E6F6A;}
input:hover {border:1px solid #FF8E1C; cursor:pointer;}
a { text-decoration:none; color:#003C9C;}
table {border:0; padding:4px; text-align:center; font-size:small; border-collapse:collapse;}
th {background-color:orange; font-size:10px; padding:5px 0px; color:#000;}
img {border:0px; vertical-align:middle;}


#portail-menu {
	background		: #BFBFBF; 
	border			: solid 1px black; 
	width			: 94%;
	padding			: 5px 10px 5px 10px; 
	margin-left		: auto; 
	margin-right	: auto;
	margin-top : 10px;
	border-radius	: 5px;
	font-size : 9px;
	padding-top : 15px;
	padding-bottom : 15px;
}

.portail-menu-item {
	text-align		: center;
	width 			: auto;
	float 			: left;
	margin-right	: 0px;
	padding : 0 12px;
	-webkit-transition: all .1s ease-out; 
	-moz-transition: all .1s ease-out; 
	-o-transition: all .1s ease-out; 
	transition: all .1s ease-out;
}

.portail-menu-item:hover {
	-moz-transform: scale(1.5);
	-webkit-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
	-ms-transform: scale(1.5);
}

#portail-conteneur {
	background		: #BFBFBF; 
	border			: solid 1px black; 
	padding			: 5px 10px; 
	width			: 94%;
	margin-left		: auto; 
	margin-right	: auto;
	top 			: 120px;
	border-radius	: 5px;
}


/*	On execute tous les post dans ce div	*/
#target {width:100%; position:fixed;	top:50%; left:0px; background-color:red; color:white; padding:5px; display:none; z-index:13; text-align:center;}
#targetback {width:100%; height:100%; position:fixed; top:0; left:0px; background-color:black; opacity:.75; color:white; padding:5px; display:none; z-index:13; text-align:center;}

.spacer { clear:both; height:50px; min-width:500px;}

/*	Le conteneur principal où on dessine le contenu et les menus	*/
#page {background-color:white; margin-left:auto; margin-right:auto;}

/*	Conteneur où on dessine les matériels, salles, ...	*/
#contenu {float:left; width:auto; overflow:auto; margin-left:230px;}

/*	menu de gauche	*/
#menu { width:225px; margin-top:80px; position:fixed; z-index:12; overflow:auto;}
#menu  img{ width:24px; margin-right:4px;}
#menu-global {}
.menu-block {margin-bottom:15px;}
.menu-titre {font-size:14px; padding:10px; padding-bottom:3px; font-weight:700; cursor:pointer;}
.menu-items {display:none; }
.menu-item {padding:2px 10px;font-size:11px; }
.menu-item:hover {background-color:#E3E3E3;}
.menu-current{padding:2px 10px 2px 20px; font-size:14px; background-color:#E3E3E3;}

/*	Toggle menu	de gauche quand la taille de l'écran est trop juste*/
#toggle-menu {position : fixed; top:42px; left:10px; display:none; cursor:pointer;}
#toggle-menu img {width:20px; }


/*	Entetes des pages (avec les options dedans)	*/
.entetes { font-size:14px; font-weight:700; padding:6px 15px; border-bottom:solid #B8B8B8 1px; float:top; left:0; position:fixed; width:100%; z-index:10; background-color:#fff; /*box-shadow:1px 1px 5px #888;*/}
.entetes-titre 		{float:left;}
.entetes-titre img 	{height:24px; margin-left:10px; cursor:pointer;}
.entetes-options 	{float:right; font-size:12px; margin-right:20px;}
.entetes-options .option {float:left; padding:0 3px;}
.entetes-options img {height:24px; cursor:pointer;}
.entetes-options form {margin:0; }

#entete-materiels, #entete-salles, #entete-marques {background-color:#759AFF;}
#entete-dossiers {background-color:#8683E6;}
#entete-prets {background-color:#FFAF75;}
#entete-utilisateurs, #entete-grades, #entete-importusers, #entete-moncompte {background-color:#83E684;}
#entete-college, #entete-statbat, #entete-infoserveur, #entete-statparc {background-color:#FAEF7D;}
#entete-aic, #entete-recapfog, #entete-modportail, #entete-geninventaire, #entete-gestfichiers, #entete-migdossiers, #entete-migfog, #entete-migusers, #entete-wol, #entete-exportperso, #entete-taginventaire {background-color:#AA83E6;}
#entete-importcsv, #entete-logs, #entete-dumpocs, #entete-dumpgespac, #entete-exports, #entete-importocs {background-color:#FF7A7A;}

/*	bandeau pour la partie login, grade et déconnexion	*/
#bandeau		{font-size:12px; color:black; padding:6px 15px; margin-bottom:15px;}
#bandeau a		{font-size:12px; color:grey;}
#bandeau a:hover	{text-decoration:underline;}
#bandeau img		{width:24px; }


/*	La boite de case à cocher pour les colonnes dans matériels	*/
#options_colonnes {display:none; font-size:small; border:1px grey solid; padding:5px; margin-top:6px; margin-left:-100px; position:absolute; background-color:#E6E6E6; overflow:auto; width:120px; /*box-shadow:1px 5px 10px #888;*/}

/*	La boite pour l'affectation directe d'un matériel	*/
#affect_box {display:none; font-size:small; border:1px grey solid; padding:5px; margin-top:6px; margin-left:-220px; position:absolute; background-color:#E6E6E6; overflow:auto; width:auto; /*box-shadow:1px 5px 10px #888;*/}

/* la boite d'aide */
.helpbox {display:none; font-size:11px; border:1px grey solid; padding:5px; position:fixed; top:30px; left:225px; background-color:#E6E6E6; z-index:11; /*box-shadow:1px 5px 10px #888;*/}

/*	On masque par défaut le renommage et la modification par lot	*/
#modif_selection {display:none; }
#rename_selection {display:none; }
#affect_selection {display:none; }

/*	Le nombre de lignes selectionnées	*/
#nb_selectionnes {display:none; font-size:10px; margin-left:10px;}


/*	Le nombre de lignes filtrées	*/
#filtercount, #marquescount {font-size:9px;}

/*	champ invalide dans un formulaire */
.validInfo {font-size:9px; color:red;}

/*	Les grandes tables, comme les salles, marques ...	*/
.bigtable {min-width:950px;}
.bigtable td{padding:2px 4px; font-size:11px;border-bottom:1px solid #DCDCDB;}
.bigtable th{font-size:12px ;}

/*	Les tables comme les membres des salles ...	*/
.smalltable {min-width:400px; border:1px solid grey;}
.smalltable td{padding:2px 4px; font-size:11px; border-bottom:1px solid grey;}
.smalltable th{font-size:11px ;}

/*	Les tables des formulaires de création, modif ...	*/
.formtable {text-align:left;}
.formtable td{padding:2px 20px; font-size:11px;}

/*	couleur d'une ligne selectionnée	*/
.selected {	background-color : #7EEF9F !important;}


.form_table {
	border		: 1px solid #ccc;
	padding		: 4px;
	text-align	: center; 
	font-size	: small;	
	border-collapse : separate;
}

/*	Les cases contenant les boutons supprimé, modifié, ...	*/
.buttons {width:20px;}


.tablehover {min-width:950px;}
.tablehover tr:hover {background-color:#FFD769; padding:2px 0px;}
.tablehover td {padding:2px 4px; font-size:11px ;}
.tablehover th {font-size:12px ;}

#log_prets_table {border-collapse:collapse; max-width:950px;}
#log_prets_table td {min-width:110px; font-size:10px;}

/*	table des correspondances pour l'ajout d'une marque	(toujours après tablehover) */
#corr_table {min-width:380px;}
#corr_table  tr:hover{background-color:#FFD769;}

.dossier_section {
	float : top;
	width : auto;
	overflow : auto;
	margin : 10px;
	padding : 10px;
	border : 1px dotted black;
}

.dossier_section span{
	margin : 20px;
	
}

.liste_section {
	float : top;
	width : auto;
	min-width : 65%;
	height : 250px;
	overflow : auto;
	margin : 10px;
	padding : 10px;
	border : 1px dotted black;
}

/*	Pour la couleur des dossiers	*/
.chk_span {padding:10px;}
.td_ouverture {background-color:#5AC8FF;}
.td_clos {background-color:#46FF80;}
.td_intervention {background-color:#FF464A;}
.td_precision {background-color:#FF9B46;}


/*	Pour les lignes sans rollover avec un ssn en doublon dans la base OCS / gespac	*/
.tr_doublon {	background-color : #29C920;}
/*	Pour les lignes sans rollover avec un ssn en doublon dans la base OCS / gespac	*/
.tr_doublon_ocs {background-color : yellow;}

/*	Style des tooltips	*/
.ui-tooltip {font-size:12px; padding:5px 10px; color:white; border-radius:5px; border:1px solid white; background:#000; box-shadow:1px 1px 5px #888;}

	
/*************************************** 	COMBOBOX  *******************************************/

#combobox {width:auto; text-align:center; position:absolute;}
#textbox {display:inline; z-index:1; top:0px; position:absolute; width:30px; left:0px;}
#listbox {display:inline; z-index:0; top:0px; position:absolute; width:30px; left:90px;}

/******************************************* 	RSS / ATOM  *******************************************/
.rss_content {font-size:13px; padding-bottom:5px;}
.rss_date {font-size:10px;}
.rss_title {font-size:16px; padding-bottom:5px;}
.rss_title a{font-size:16px;}
.rss_news {border:1px solid black; padding:5px 10px; margin:10px; background-color:#EDEDED; white-space:pre-wrap;}

/******************************************* 	SCROLLBAR pour WEBKIT uniquement  *******************************************/
::-webkit-scrollbar {width:10px; height:10px;}
::-webkit-scrollbar-track { border:0;}
::-webkit-scrollbar-track:hover { border:1px solid grey;}
::-webkit-scrollbar-thumb { background-color:#E6E6E6; border:1px solid grey;}
::-webkit-scrollbar-thumb:hover { background-color:#B0B0B0; border:1px solid grey;}
